<ion-header>
  
  <ion-toolbar>
    <ion-title>
      Proyecto Mapas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-card>
     
        <ion-img src="assets/images/ImgMap.jpg"></ion-img>

        
      </ion-card>

     
      <div class="Centrado">

          <ion-button color="primary" routerLink="/view-map">Comenzar</ion-button>

          <ion-card-content>
            Bienvenidos
          </ion-card-content>
      </div>
       

          
  
          
       

      

      
  

</ion-content>